<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <title>Jamboree</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css">
        <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Faster+One|Permanent+Marker|Signika|K2D|Lora:700:400,700|Concert+One" rel="stylesheet">
    </head>
    
    <body>
  

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeMainNav()">&times;</a>
        <% if(!currentUser){ %>
            <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a id="landingRight" href="/login">SIGN IN</a></li>
            <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a id="landingRight1" href="/login">REGISTER</a></li>
        <% } else { %>
            <li><a  href="#">Signed In As <%= currentUser.username %></a></li>
            <li><a class="submitBtn" href="/festivals/new">Submit New<i class="fas fa-plus-circle"></i></a></li>
            <li><a href="/logout">SIGN OUT</a></li>
        <% } %>
</div>


<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" id="brand" href="/festivals">Jamboree</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick="openMainNav()">
    <i class="fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" >
    <ul class="nav navbar-nav navbar-right">
        <% if(!currentUser){ %>
            <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a id="landingRight" href="/login">SIGN IN</a></li>
            <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a id="landingRight1" href="/login">REGISTER</a></li>
        <% } else { %>
            <li><a id="landingRight" href="#">Signed In As <%= currentUser.username %></a></li>
            <li><a id="landingRight" class="submitBtn" href="/festivals/new">Submit New<i class="fas fa-plus-circle"></i></a></li>
            <li><a id="landingRight1" href="/logout">SIGN OUT</a></li>
        <% } %>
    </ul>
  </div>
</nav>


    


