<% include ../partials/header %>



<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="jumbotronTitle">
      Let's Find The Next Festival.
    </p>
    <form action="/festivals" method="GET" class="form-inline">
      <div id="search" class="form-group row">
        <input type="text" name="search" placeholder="Search For Festivals" class="form-control col-8">
        <div class="searchBtn input-group-append">
          <span class="input-group-text" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
      </div>
    </form>
  </div>
</div>

<!--filters -->
<form action="/festivals" method="GET">
      <div class="form-group filters">
        <span>
          <label for="Show All" class="filterLabel">SORT BY:</label>
        <span>
              
            <%if(multiDay || hiphop || camping || variety || electronic || search || allAges) { %>
              <input class="btn filterBtn" type="submit" value="All">
            <% } else { %>
              <input class="btn" id="selectedBtn" type="submit" value="All">
            <% } %>
              
            <%if (variety) {%>
              <div class="dropdown" style="display: inline">
                <button class="btn dropdown-toggle" type="button" id="selectedBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Variety
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><input id="genreMore" type="submit" name="electronic" value="Electronic"></li>
                  <li><input id="genreMore" type="submit" name="variety" value="Variety"></li>
                  <li><input id="genreMore" type="submit" name="hiphop" value="Hip-Hop"></li>
                </ul>
              </div>
            <% } else if (electronic) { %>
              <div class="dropdown" style="display: inline">
                <button class="btn dropdown-toggle" type="button" id="selectedBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Electronic
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><input id="genreMore" type="submit" name="electronic" value="Electronic"></li>
                  <li><input id="genreMore" type="submit" name="variety" value="Variety"></li>
                  <li><input id="genreMore" type="submit" name="hiphop" value="Hip-Hop"></li>
                </ul>
              </div>
            <% } else if (hiphop) { %>
              <div class="dropdown" style="display: inline">
                <button class="btn filterBtn dropdown-toggle" type="button" id="selectedBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Hip-Hop
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><input id="genreMore" type="submit" name="electronic" value="Electronic"></li>
                  <li><input id="genreMore" type="submit" name="variety" value="Variety"></li>
                  <li><input id="genreMore" type="submit" name="hiphop" value="Hip-Hop"></li>
                </ul>
              </div>
            <% } else { %>
              <div class="dropdown" style="display: inline">
                <button class="btn filterBtn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Genre
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><input id="genreMore" type="submit" name="electronic" value="Electronic"></li>
                  <li><input id="genreMore" type="submit" name="variety" value="Variety"></li>
                  <li><input id="genreMore" type="submit" name="hiphop" value="Hip-Hop"></li>
                </ul>
              </div>
            <% } %>
                          
            <%if(multiDay) { %>
                <input class="btn" id="selectedBtn" type="submit" name="multiday" value="Multi-Day">
            <% } else { %>
                <input class="btn filterBtn" type="submit" name="multiday" value="Multi-Day">
            <% } %>    
              
            <%if(camping) { %>
                <input class="btn" id="selectedBtn" type="submit" name="camping" value="Camping">
            <% } else { %>
                <input class="btn filterBtn" type="submit" name="camping" value="Camping">
            <% } %>            
            
            <%if(allAges) { %>
                <input class="btn" id="selectedBtn" type="submit" name="allAges" value="All Ages">
            <% } else { %>
                <input class="btn filterBtn" type="submit" name="allAges" value="All Ages">
            <% } %>

          </span>
        </span>
      </div>
  </form> 



<!--listings-->
<div class="listingContainer row ">
  <% festivals.forEach(function(campground){ %>
    <div class="container listing col-12 col-md-4">
        <div class="row">
          <div class="listingImage col-12 col-md-12">
            <a href="/festivals/<%= campground._id %>"><img src="<%= campground.image %>"></a>
          </div>
          <div class="cardInfo col-md-12">
            <div class="row">
                <div class="listingLocation col-11">
                  <p><%= campground.location %></p>
                </div>
                <div class="row col-12 extraInfo">
                  <a class = "listingTitle col-5 col-md-12" href="/festivals/<%= campground._id %>"><%= campground.name %>
                    <div class="row genre">
                      <span class="col-12 orange"><%= campground.genre %></span>
                    </div>
                  </a>
                  <div class="infoIcons row col-7 col-md-12">
                    <div class="col-6 col-md-3 indexFeatures">
                        <% if (campground.multiDay === "yes") { %>
                          <span style="color:green;" class="extraIcons">3</span>
                        <% } else { %>
                          <span style="color:gray;" class="extraIcons">3</span>
                        <% } %>
                    </div>  
                    <div class="col-6 col-md-3 indexFeatures">
                        <% if (campground.camping === "yes") { %>
                          <span style="color:green;" class="fas fa-campground camping"></span>
                        <% } else { %>
                          <span style="color:gray;" class="fas fa-campground camping"></span>
                        <% } %> 
                    </div> 
                    <div class="col-6 col-md-3 indexFeatures">
                          <% if (campground.allAges === "yes") { %>
                            <span style="color:green;" class="extraIcons">18+</span>
                          <% } else { %>
                            <span style="color:green;" class="agesIcon">All Ages</span>
                          <% } %>                       
                      </div>
                    <div class="col-6 col-md-3 indexFeatures">
                        <span>
                          <% if (campground.price >= 400) { %>
                            <% for(var i = 0; i < 4; i++) { %>
                              <i style="color:green;" class="fas fa-dollar-sign" aria-hidden="true"></i>
                            <% } %>
                          <% } else if (campground.price >= 300 && campground.price < 400) { %>
                            <% for(var i = 0; i < 3; i++) { %>
                              <i style="color:green;" class="fas fa-dollar-sign"></i>
                            <% } %>
                          <% } else if (campground.price >= 200 && campground.price < 300) { %>
                            <% for(var i = 0; i < 2; i++) { %>
                              <i style="color:green;" class="fas fa-dollar-sign"></i>
                            <% } %>                       
                          <% } else { %>
                            <% for(var i = 0; i < 1; i++) { %>
                              <i style="color:green;" class="fas fa-dollar-sign"></i>
                            <% } %>                        
                          <% } %>                      
                        </span>
                      </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </div>
  <% }); %>
</div>


<!--pagnation-->
  <nav aria-label="Page navigation example">
      <% if (pages && pages > 0) { %>
        <ul class="pagination justify-content-center">
          
          <% if (current == 1) { %>
            <li class="page-item disabled"><a class="page-link">First</a></li>
          <% } else { %>
            <li class="page-item"><a class="page-link" href="/festivals<%if(search){%>?search=<%=search%><%}else if(multiDay){%>?multiday=<%=multiDay%><%}else if(camping){%>?camping=<%=camping%><%}else if(electronic){%>?electronic=<%=electronic%><%}else if(variety){%>?variety=<%=variety%><%}%>">First</a></li>
          <% } %>
   
          <% if (current == 1) { %>
            <li class="page-item disabled"><a class="page-link">«</a></li>
          <% } else { %>
            <li class="page-item"><a class="page-link" href="/festivals?page=<%= Number(current) - 1 %><%if(search){%>?search=<%=search%><%}else if(multiDay){%>&multiday=<%=multiDay%><%}else if(camping){%>&camping=<%=camping%><%}else if(electronic){%>&electronic=<%=electronic%><%}else if(variety){%>&variety=<%=variety%><%}%>">«</a></li>
          <% } %>
   
          <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
              <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>
          <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i == current) { %>
              <li class="page-item active"><a class="page-link"><%= i %></a></li>
            <% } else { %>
              <li class="page-item"><a class="page-link" href="/festivals?page=<%= i %><%if(search){%>?search=<%=search%><%}else if(multiDay){%>&multiday=<%=multiDay%><%}else if(camping){%>&camping=<%=camping%><%}else if(electronic){%>&electronic=<%=electronic%><%}else if(variety){%>&variety=<%=variety%><%}%>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(current) + 4 && i < pages) { %>
              <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>
          <% } %>
   
          <% if (current == pages) { %>
            <li class="page-item disabled"><a class="page-link">»</a></li>
          <% } else { %>
            <li class="page-item"><a class="page-link" href="/festivals?page=<%= Number(current) + 1 %><%if(search){%>?search=<%=search%><%}else if(multiDay){%>&multiday=<%=multiDay%><%}else if(camping){%>&camping=<%=camping%><%}else if(electronic){%>&electronic=<%=electronic%><%}else if(variety){%>&variety=<%=variety%><%}%>">»</a></li>
          <% } %>
   
          <% if (current == pages) { %>
            <li class="page-item disabled"><a class="page-link">Last</a></li>
          <% } else { %>
            <li class="page-item"><a class="page-link" href="/festivals?page=<%= pages %><%if(search){%>?search=<%=search%><%}else if(multiDay){%>&multiday=<%=multiDay%><%}else if(camping){%>&camping=<%=camping%><%}else if(electronic){%>&electronic=<%=electronic%><%}else if(variety){%>&variety=<%=variety%><%}%>">Last</a></li>
          <% } %>
      </ul>
      <% } %>
  </nav>
    

<% include ../partials/footer %>